<%- model_class = Patent.new.class -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:invention_title) %></th>
      <th><%= model_class.human_attribute_name(:application_number) %></th>
      <th><%= model_class.human_attribute_name(:application_type) %></th>
      <th><%= model_class.human_attribute_name(:filing_date) %></th>
      <th><%= model_class.human_attribute_name(:applicant_name) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @patents %>
  </tbody>
</table>
<div>
show <%= @patents.offset_value + 1 %> - <%= @patents.offset_value + @patents.length %> of <%= @patents.total_count %> results
</div>
<div class="pagination">
  <%= paginate @patents %>
</div>