<tr>
  <td><%= link_to patent.invention_title, patent_path(patent) %></td>
  <td><%= patent.application_number %></td>
  <td><%= patent.application_type %></td>
  <td><%= short_datetime patent.filing_date %></td>
  <td><%= patent.applicant_name %></td>
</tr>