<%- model_class = @patent.class -%>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2><%= @patent.invention_title %></h2>
        <p><%= @meta_description %></p>
      </div>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="span12">
      
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="span9">
      <h4>Details</h4>
      <dl class="dl-horizontal">
        <dt><%= model_class.human_attribute_name(:application_number) %> :</dt>
        <dd><%= @patent.application_number %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:application_type) %> :</dt>
        <dd><%= @patent.application_type %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:application_status) %> :</dt>
        <dd><%= @patent.application_status %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:under_opposition) %> :</dt>
        <dd><%= @patent.under_opposition %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:proceeding_type) %> :</dt>
        <dd><%= @patent.proceeding_type %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:invention_title) %> :</dt>
        <dd><%= @patent.invention_title %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:inventor) %> :</dt>
        <dd><%= @patent.inventor %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:agent_name) %> :</dt>
        <dd><%= @patent.agent_name %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:address_for_service) %> :</dt>
        <dd><%= @patent.address_for_service %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:filing_date) %> :</dt>
        <dd><%= @patent.filing_date.strftime("%d %B %Y") %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:associated_companies) %> :</dt>
        <dd><%= @patent.associated_companies %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:applicant_name) %> :</dt>
        <dd><%= @patent.applicant_name %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:applicant_address) %> :</dt>
        <dd><%= @patent.applicant_address %> &nbsp;</dd>
        <dt><%= model_class.human_attribute_name(:old_name) %> :</dt>
        <dd><%= @patent.old_name %> &nbsp;</dd>
        <dt>Original Source :</dt>
        <dd><a href="<%= @patent.source_url %>">Go</a> &nbsp;</dd>
      </dl>
    </div><!-- span -->
    <div class="span3">
      <div id="maps">
        <h4>Applicant location</h4>
        <div id="map_canvas" data-location="<%= @patent.address_for_service %>">
        </div>
      <br/>
      </div>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <script>
          $('#map_canvas').ready(function(){
            var geocoder = new google.maps.Geocoder();
            var address = $('#map_canvas').attr("data-location");
            var latitude;
            var longitude;
            var map;
            geocoder.geocode( { 'address': address}, function(results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                latitude = results[0].geometry.location.lat();
                longitude = results[0].geometry.location.lng();
                 var mapOptions = {
                    zoom: 16,
                    center: new google.maps.LatLng(latitude , longitude),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  };
                  map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

                  var marker = new google.maps.Marker({
                      position: new google.maps.LatLng(latitude , longitude),
                      map: map
                  });
                }
              else{
                $('#maps').hide();
              } 
            });
          });
        </script>
        <h4>Related Patents</h4>
        <% @patents_related.each do |f| %>
          <p class="related_font"><%= link_to f.invention_title, patent_path(f) %></p>
        <% end %>
        <br/>
        <% if @patents_related_result.length > 0 %>
          <h4><%= @patents_related_title %></h4>
          <% @patents_related_result.each do |f| %>
            <p class="related_font"><%= link_to f.invention_title, patent_path(f) %></p>
          <% end %>
        <% end %>
    </div><!-- span -->
  </div><!-- row -->
</div>

