<%- model_class = @patent.class -%>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2><%= @patent.invention_title %></h2>
      </div>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="span12">
      <p class="lead"><%= @meta_description %></p>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="span9">
      <h3>Details</h3>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:application_number) %> : </span><span class="field"><%= @patent.application_number %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:application_type) %> : </span><span class="field"><%= @patent.application_type %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:application_status) %> : </span><span class="field"><%= @patent.application_status %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:under_opposition) %> : </span><span class="field"><%= @patent.under_opposition %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:proceeding_type) %> : </span><span class="field"><%= @patent.proceeding_type %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:invention_title) %> : </span><span class="field"><%= @patent.invention_title %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:inventor) %> : </span><span class="field"><%= @patent.inventor %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:agent_name) %> : </span><span class="field"><%= @patent.agent_name %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:address_for_service) %> : </span><span class="field"><%= @patent.address_for_service %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:filing_date) %> : </span><span class="field"><%= @patent.filing_date %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:associated_companies) %> : </span><span class="field"><%= @patent.associated_companies %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:applicant_name) %> : </span><span class="field"><%= @patent.applicant_name %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:applicant_address) %> : </span><span class="field"><%= @patent.applicant_address %></span>
      </p>
      <p>
        <span class="labela"><%= model_class.human_attribute_name(:old_name) %> : </span><span class="field"><%= @patent.old_name %></span>
      </p>
      <p>
        <span class="labela">Original Source : </span><span class="field"><a href="<%= @patent.source_url %>">Go</a></span>
      </p>
    </div><!-- span -->
    <div class="span3">
      <h3>Applicant location</h3>
      <!--<img src="http://maps.google.com/maps/api/staticmap?center=<%= @patent.address_for_service %>&zoom=16&markers=<%= @patent.address_for_service %>&size=300x300&sensor=true">-->
      <div id="map_canvas" data-location="<%= @patent.address_for_service %>">
      </div>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <script>
          $('#map_canvas').ready(function(){
            var geocoder = new google.maps.Geocoder();
            var address = $('#map_canvas').attr("data-location");
            var latitude;
            var longitude;
            var map;
            geocoder.geocode( { 'address': address}, function(results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                latitude = results[0].geometry.location.lat();
                longitude = results[0].geometry.location.lng();
                 var mapOptions = {
                    zoom: 16,
                    center: new google.maps.LatLng(latitude , longitude),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  };
                  map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

                  var marker = new google.maps.Marker({
                      position: new google.maps.LatLng(latitude , longitude),
                      map: map
                  });
                } 
            });
          });
        </script>
        <br/>
        <h3>Related Patents</h3>
        <% @patent_related.each do |f| %>
          <p><%= link_to f.invention_title, patent_path(f) %></p>
        <% end %>
    </div><!-- span -->
  </div><!-- row -->
</div>

